html,
body,
#root {
  height: 100%;
}

.app-container {
  width: 100%;
}

.message-list-wrapper {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #dee2e6;
}

.main-panel-wrapper {
  padding: 1rem;
}
